<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zap.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.zap.entity.Permission">
    <id column="PermissionId" jdbcType="INTEGER" property="permissionid" />
    <result column="PermissionName" jdbcType="VARCHAR" property="permissionname" />
    <result column="PermissionDesc" jdbcType="VARCHAR" property="permissiondesc" />
    <result column="ParentPermissionId" jdbcType="INTEGER" property="parentpermissionid" />
  </resultMap>
  <sql id="Base_Column_List">
    PermissionId, PermissionName, PermissionDesc, ParentPermissionId
  </sql>
  <select id="selectByPermissionId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where PermissionId = #{permissionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPermissionId" parameterType="java.lang.Integer">
    delete from permission
    where PermissionId = #{permissionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zap.entity.Permission">
    insert into permission (PermissionId, PermissionName, PermissionDesc, 
      ParentPermissionId)
    values (#{permissionid,jdbcType=INTEGER}, #{permissionname,jdbcType=VARCHAR}, #{permissiondesc,jdbcType=VARCHAR}, 
      #{parentpermissionid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zap.entity.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionid != null">
        PermissionId,
      </if>
      <if test="permissionname != null">
        PermissionName,
      </if>
      <if test="permissiondesc != null">
        PermissionDesc,
      </if>
      <if test="parentpermissionid != null">
        ParentPermissionId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionid != null">
        #{permissionid,jdbcType=INTEGER},
      </if>
      <if test="permissionname != null">
        #{permissionname,jdbcType=VARCHAR},
      </if>
      <if test="permissiondesc != null">
        #{permissiondesc,jdbcType=VARCHAR},
      </if>
      <if test="parentpermissionid != null">
        #{parentpermissionid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPermissionIdSelective" parameterType="com.zap.entity.Permission">
    update permission
    <set>
      <if test="permissionname != null">
        PermissionName = #{permissionname,jdbcType=VARCHAR},
      </if>
      <if test="permissiondesc != null">
        PermissionDesc = #{permissiondesc,jdbcType=VARCHAR},
      </if>
      <if test="parentpermissionid != null">
        ParentPermissionId = #{parentpermissionid,jdbcType=INTEGER},
      </if>
    </set>
    where PermissionId = #{permissionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPermissionId" parameterType="com.zap.entity.Permission">
    update permission
    set PermissionName = #{permissionname,jdbcType=VARCHAR},
      PermissionDesc = #{permissiondesc,jdbcType=VARCHAR},
      ParentPermissionId = #{parentpermissionid,jdbcType=INTEGER}
    where PermissionId = #{permissionid,jdbcType=INTEGER}
  </update>
</mapper>